VITE_FIREBASE_API_KEY="AIzaSyBo00jkMjzNebI9sYQt__kfcSn4dkXGakw"
VITE_FIREBASE_AUTH_DOMAIN="desktop-markdown-editor.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="desktop-markdown-editor"
VITE_FIREBASE_STORAGE_BUCKET="desktop-markdown-editor.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="699837992907"
VITE_FIREBASE_APP_ID="1:699837992907:web:7d658957083dfb5035304e"
VITE_FIREBASE_MEASUREMENT_ID="G-KXSCWBHCQX"